@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500&display=swap");

:root {
  --shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #cfcfcf inset !important;
  box-shadow: 0 0 0 30px #cfcfcf inset !important;
}

body {
  background: white;

  color: black;
}

#light {
  background: white;
  color: black;
}

#light-b {
  color: pink;
  background: #2f2fa2;
  box-shadow: 0 0 25px 0px rgba(0, 0, 0, 0.07);
}
.addNew {
  cursor: pointer;
  width: 20vw;
  height: 30vh;
  position: relative;
  box-shadow: var(--shadow);
  padding: 0 0 0 1rem;
  border-radius: 1.4rem;
  margin: 15px;

  /* overflow: hidden; */
  align-self: flex-start;
}
.addNew__heading {
  color: rgb(71, 70, 70);
  position: absolute;
  display: flex;
  align-items: center;
}

.addNew__heading span {
  font-size: 50px;
  font-weight: lighter;
}

.mainComponent {
  height: 92vh;
  width: 100vw;
  overflow-x: hidden;
  position: relative;
}

.showNote {
  width: 40%;
  height: max-content;
  padding: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0.67rem;
}

.Body {
  height: max-content;
  width: 100vw;
  display: flex;
  padding: 70px;
  align-items: center;
  justify-content: center;
}
body {
  color: #202124;
}
.main-div {
  width: 90%;
}
.main-div input {
  display: block;
  border: none;
  background-color: transparent;
  width: 100%;
  padding: 10px;
  outline: none;
  color: white;
  caret-color: rgba(255, 255, 255, 1);
  font-size: 0.875rem;
  font-weight: bolder;
}

.showNote {
  display: flex;
}

.addbtn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  outline: none;
  background: royalblue;
  font-size: 30px;
  font-weight: bolder;
  color: aliceblue;
  cursor: pointer;
  align-self: flex-end;
}

.DeleteBtn {
  cursor: pointer;
  float: right;
}

.auth {
  width: 8%;
  display: flex;
  justify-content: space-between;
  color: white;
}

.auth a {
  text-decoration: none;
}

.noNotes {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.noNotes h1 {
  font-weight: 200;
}

.noNotes span {
  font-weight: 400;
  color: #ff4444;
  cursor: pointer;
  margin-left: 5px;
}
.noNotes img {
  height: 70vh;
  width: auto;
  align-self: center;
}

.loading-gif {
  transform: translateX(50vw) translateY(45vh);
}

@media screen and (min-width: 1080px) {
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: rgb(236, 223, 223);
    margin: 2px 0;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(155, 145, 145);
    border-radius: 5px;
    opacity: 0.5;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(107, 106, 106);
  }
}

@media screen and (max-width: 480px) {
  .noNotes h1 {
    text-align: center;
  }
  .noNotes span {
    display: block;
  }
  .loading-gif {
    transform: translateX(45vw) translateY(45vh);
  }
}
